.header {
    padding: 30px 0;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    margin-right: 22px;
}

.header__logo-text {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 27px;
    color: #7e72f2;
}